{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace typo3cr=TYPO3\TYPO3CR\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Index view of Standard controller</f:section>

<f:section name="Content">
	<noscript>
		<div class="no-js" style="background-color: #ff8700; padding: 20px;">
			You need JavaScript activated to use this module (for now).
		</div>
	</noscript>

	<div class="translations" data-area="Translations" data-locale="{defaultLocale}">
		<div style="display:none;" data-json="translations">{allTranslationsJSON -> f:format.raw()}</div>
		<div style="display:none;" data-json="locales">{availableLocalesJSON -> f:format.raw()}</div>

		<f:form action="save"></f:form>

		<table class="neos-table" data-enhance="TranslationTable">
			<thead>
				<tr>
					<th>{availableLocales.0 -> f:format.case(mode: 'upper')}</th>
					<th>{availableLocales.1 -> f:format.case(mode: 'upper')}</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{translations}" as="translation">
					<tr>
						<td>{translation.0.value}</td>
						<td>{translation.1.value}</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</div>
</f:section>
